.widget_1 .article-item,.widget_2 .article-item,.widget_3 .article-item,.widget_4 .article-item{
    border-bottom: solid 1px #ddd;
    padding: 10px;
}
.more-reads-num {
    background: none repeat scroll 0 0 #c00;
    color: #fff;
    display: inline-block;
    margin: 0 0 5px 4px;
    padding: 5px;
}
.widget_2_img{
    width: 100%;
    height: 150px;
	margin-bottom:8px;
}
.widget_2 .news-item-link{
    margin-top: 5px;
}
.widget_3_img{
    float: right;
    width: 80px;
    margin: 5px;
}
.widget_4_img{
    float: left;
    width: 80px;
    margin: 5px;
}
.article-writer-link{
    color: #C00;
}
.widget_6_img{
    width: 100%;
    height: 300px;
	margin-bottom:10px;
}
